@using TravelTripProje.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="container">
    <h2>Blog Listesi</h2>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
            <th>DETAYLAR</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ID</td>
                <td>@x.Baslik</td>
                <td>@Html.ActionLink("SİL", "SIL", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediğinizden emin misiniz')" })</td>

                <td><a href="/Admin/BlogGetir/@x.ID" class="btn btn-warning">GÜNCELLE</a></td>
                <td><a href="/Blog/BlogDetay/@x.ID" class="btn btn-info">DETAYLAR</a></td>
            </tr>
        }

    </table>

    <a href="/Admin/BlogEkle" class="btn btn-success">Yeni Blog Ekle</a>
</div>


